@{
Layout = "/Views/Shared/_EmptyLayout.cshtml";
}

<!-- micromodal -->
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js" asp-append-version="true"></script>

<link type="text/css" rel="stylesheet" href="~/css/landingPage/landingPageMaster.css" />

<header>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logos/boostify.png">
                </a>
                <div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/images/common/hamburger.svg">
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/users/signin">LOG IN</a>
                        </li>
                        <li class="nav-item">
                            <a href="/users/signup">
                                <button class="button primary-button">JOIN US</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div>
    @RenderBody()
</div>
<footer class="footer footer-holder">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 ps-0 pe-0 mb-4 mb-md-0">
                <img class="footer-logo" src="~/images/logos/boostify-white.png">
                <div class="d-flex align-items-center mt-3">
                    © 2020–2023 Boostify Solution
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="d-flex flex-column">
                    <h5 class="fw-bold">Accounts</h5>
                    <a class="fw-bold mb-2" style="color: white; text-decoration: underline;" href="/users/signin">Log In</a>
                    <a class="fw-bold" style="color: white; text-decoration: underline;" href="/users/signup">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</footer>

@section Scripts {
@RenderSection("Scripts", required: false)
}